<h1>Delete reward: <%=@reward.name%></h1>
<%= link_to("Back to all Rewards", rewards_path, class: 'back-link') %>

<div class="rewards delete">

  <%= form_for(@reward, method: 'delete') do |r| %>
    <% # url: task_path(@task), method: 'delete' %>

    <p>Are you sure you want to permanently delete this reward?</p>
    <p><%= @reward.name %></p>

    <div class="form-buttons">
      <%= r.submit("Delete Reward") %>
    </div>

  <% end %>
</div>
