<h1>Edit Reward: <%= @reward.name %></h1>
<%= link_to("Back to all Rewards", rewards_path, class: "primary_link", aria: {label: "Back to All Rewards Button"}) %>

<div class="rewards edit">
  <h2 aria-label="Reward Info">Info:</h2>

  <%= form_for(@reward) do |r| %>
    <% # url: task_path(@task), method: 'patch' %>

     <%= render(partial: 'form', locals: {r: r})%>

    <div class="form-buttons", aria-label="Save Changes Button>
      <%= r.submit("Save changes") %>
    </div>

  <% end %>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
