<div class="rewards show">
  <h1><%= @reward.name %></h1>
  <br>
  <div class="actions">
     <%= link_to("Back to all Rewards", memrewards_path_url(@user), class: "primary_link") %>
    <%= link_to('Purchase', purchase_path_url(id: @reward, user_id: @user), class: "primary_link") %>
  </div>
  <br>

  <table summary="reward detail view">
    <tr>
      <th>Name</th>
      <td><%= @reward.name %></td>
    </tr>
    <tr>
      <th>Dollar price</th>
      <td><%= @reward.dollar_price %></td>
    </tr>
    <tr>
      <th>Point price</th>
      <td><%= @reward.point_value %></td>
    </tr>
    <tr>
      <th>Current inventory</th>
      <td><%= @reward.inventory %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @reward.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @reward.updated_at %></td>
    </tr>
  </table>

</div>

<br />

  <% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
    <% end %>
