<h1>Rewards (member view) </h1>
<p>All of the rewards that can be purchased with points are shown below.</p>
<%= link_to("Go to admin view", rewards_path, class: 'action index') %>
  <table class="listing" summary="Reward list" style="width: 100%;">
    <tr class="header">
      <th>Name</th>
      <th>Point price</th>
      <th>Dollar price</th>
      <th>Current inventory</th>
    </tr>
    <% @rewards.each do |reward| %>
    <tr>
      <td><%= reward.name %></td>
      <td><%= reward.point_value %></td>
      <td><%= reward.dollar_price  %></td>
      <td><%= reward.inventory %></td>
      <td class="actions">
        <%= link_to("See details", reward_path(reward), class: 'action show') %>
        <%= link_to("Purchase", purchase_path_url(reward.id), data: { confirm: 'Are you sure you want to purchase this item?' }) %>
      </td>
    </tr>
    <% end %>
  </table>
  <br />
  <% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
