<h1>Create New Reward</h1>
<%= link_to("Back to all Rewards", {controller: 'rewards', action: 'index'}, class: "primary_link") %><br />
<div class="rewards new">
  <h2>Create Reward</h2>

  <%= form_for(@reward) do |r| %>
    <% # url: tasks_path, method: 'post' %>

    <%= render(partial: 'form', locals: {r: r})%>

    <div class="form-buttons">
      <%= r.submit("Create Reward") %>
    </div>

  <% end %>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
