
<h1><%= @reward.name %></h1>
<div class="rewards show">
  <div class="actions">

    <%= link_to("Back to all Rewards", rewards_path, class: "primary_link", aria: {label: "Back to All Rewards Button"}) %>
    <%= link_to('Edit', edit_reward_path(@reward), class: "primary_link", aria: {label: "Edit Button"}) %>
    <%= link_to('Delete', delete_reward_path(@reward), class: "primary_link", aria: {label: "Delete Button"}) %>

  </div>
  <br />
  <table summary="reward detail view">
    <tr>
      <th aria-label="Reward Name">Name</th>
      <td><%= @reward.name %></td>
    </tr>
    <tr>
      <th aria-label="Reward Dollar Price">Dollar price</th>
      <td><%= @reward.dollar_price %></td>
    </tr>
    <tr>
      <th aria-label="Reward Points">Point price</th>
      <td><%= @reward.point_value %></td>
    </tr>
    <tr>
      <th aria-label="Reward Current Inventory">Current inventory</th>
      <td><%= @reward.inventory %></td>
    </tr>
    <tr>
      <th aria-label="Reward Created at">Created</th>
      <td><%= @reward.created_at %></td>
    </tr>
    <tr>
      <th aria-label="Reward Updated at">Updated</th>
      <td><%= @reward.updated_at %></td>
    </tr>
  </table>

</div>

<br />

  <% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
    <% end %>
