<% if session[:is_admin] %>
    <table summary="User form fields">
    <tr>
        <th aria-label="Member Name">Name</th>
        <td><%= u.text_field(:name) %></td>
    </tr>
    <tr>
        <th aria-label="Member Email">Email</th>
        <td><%= u.text_field(:email) %></td>
    </tr>
    <tr>
        <th aria-label="Member Points">Points</th>
        <td><%= u.number_field(:points, step: 1) %></td>
    </tr>
    <tr>
        <th aria-label="Is Admin">Admin</th>
        <td><%= u.check_box(:is_admin) %></td>
    </tr>
    </table>
<% else %>
    <table summary="User form fields">
    <tr>
        <th aria-label="Name">Name</th>
        <td><%= u.text_field(:name) %></td>
    </tr>
    <tr>
        <th aria-label="Email">Email</th>
        <td><%= u.text_field(:email) %></td>
    </tr>
    <tr>
        <th aria-label="Points">Points</th>
        <td><%= u.number_field(:points, step: 1) %></td>
    </tr>
    </table>
<% end %>