<h1 aria-label="Activity History">Activity History</h1>
<p>All of the activites you have participated in are shown below.</p>

<%= form_tag(user_history_activity_path(@user), method: :get) do %>
  <div style="margin-bottom: 10px; margin-top: 10px;">
    <%= label_tag(:activity_id, "Activity: ") %>
    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :name, params[:activity_id]), include_blank: true) %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= label_tag(:start_date, "Start date:") %>
    <%= date_field_tag(:start_date, params[:start_date]) %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= label_tag(:end_date, "End date:") %>
    <%= date_field_tag(:end_date, params[:end_date]) %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= submit_tag("Filter") %>
    <%= button_tag("Reset", type: 'button', onclick: "window.location.href='#{user_history_activity_path(@user)}';") %>
  </div>
<% end %>


<table>
  <tr>
    <th aria-label="Activity Name">Activity Name</th>
    <th aria-label="Activity Points">Points</th>
    <th aria-label="Activity Time">Time</th>
  </tr>
  <% @earn_transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.activity.name %></td>
      <td><%= transaction.points %></td>
      <td><%= transaction.created_at.strftime("%B %e, %Y %H:%M") %></td>
    </tr>
  <% end %>
</table>
<br />
<hr>
<br />

<h1 aria-label="Reward History">Reward History</h1>
<p>All of the rewards you have purchased are shown below.</p>

<%= form_tag(user_history_activity_path(@user), method: :get) do %>
  <div style="margin-bottom: 10px; margin-top: 10px;">
    <%= label_tag(:reward_id, "Reward: ") %>
    <%= select_tag(:reward_id, options_from_collection_for_select(Reward.all, :id, :name, params[:reward_id]), include_blank: true) %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= label_tag(:reward_start_date, "Start date:") %>
    <%= date_field_tag(:reward_start_date, params[:reward_start_date]) %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= label_tag(:reward_end_date, "End date:") %>
    <%= date_field_tag(:reward_end_date, params[:reward_end_date]) %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= submit_tag("Filter") %>
    <%= button_tag("Reset", type: 'button', onclick: "window.location.href='#{user_history_activity_path(@user)}';") %>
  </div>
<% end %>


<table>
  <tr>
    <th aria-label="Reward Name">Reward Name</th>
    <th aria-label="Points Spent">Points Spent</th>
    <th aria-label="Time">Time</th>
  </tr>
  <% @spend_transactions.each do |spend_transaction| %>
    <tr>
      <td><%= spend_transaction.reward.name %></td>
      <td><%= spend_transaction.points %></td>
      <td><%= spend_transaction.created_at.strftime("%B %e, %Y %H:%M") %></td>
    </tr>
  <% end %>
</table>
