

<% if session[:is_admin] %>
  <h1><%=@user.name%>'s Account</h1>

<% else %>
  <h1>Edit My Account</h1>
  <%= link_to("Go back to My Account", user_path(@user), class: "primary_link")%><br>
<%end%>

<%= link_to("Delete the account", delete_user_path(@user), class: "primary_link") %>
<br> <br>
<%= link_to("Back to All Users", admin_dashboard_url, class: "primary_link") %>

<div class="rewards edit">
  <h2>Info:</h2>

  <%= form_for(@user) do |u| %>
    <% # url: task_path(@task), method: 'patch' %>

     <%= render(partial: 'form', locals: {u: u})%>

    <div class="form-buttons">
      <%= u.submit("Save changes") %>
    </div>

  <% end %>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
