

<% if session[:is_admin] %>
  <h1 aria-label="Admin Account"><%=@user.name%>'s Account</h1>

<% else %>
  <h1 aria-label="Edit My Account">Edit My Account</h1>
  <%= link_to("Go back to My Account", user_path(@user), class: "primary_link", aria: {label: "Back to My Account Button"})%><br>
<%end%>

<%= link_to("Delete the account", delete_user_path(@user), class: "primary_link", aria: {label: "Delete Account Button"}) %>
<br> <br>
<%= link_to("Back to All Users", admin_dashboard_url, class: "primary_link", aria: {label: "Back to all Users Button"}) %>

<div class="rewards edit">
  <h2 aria-label="User Info">Info:</h2>

  <%= form_for(@user) do |u| %>
    <% # url: task_path(@task), method: 'patch' %>

     <%= render(partial: 'form', locals: {u: u})%>

    <div class="form-buttons">
      <%= u.submit("Save changes") %>
    </div>

  <% end %>
</div>

<%= render(partial: 'txn_hist', locals: {txn_hist: @txn_hist}) %>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
