
<h1>Assign Points to Members</h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %>, (<%=user.points %> points)</td>
            <td><%= check_box_tag "selected_users[]", user.id %></td>
        </tr>
    <% end %>
</table>
<%= label_tag "points", "Points:" %>
<%= number_field_tag "points", nil, min: 0 %>
<br />
<%= label_tag "points", "Activity:" %>
<%= select_tag "activity_id", options_for_select(Activity.order(:name).map { |activity| [activity.name, activity.id] }, include_blank: true), id: "id_of_the_activity_id_select_box" %>
<br />
<%= submit_tag "Submit" %>
