
<h2> Admin Home </h2>

<h3>All Members</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Points</th>
        <th>Is Admin</th>
        <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.points %></td>
            <td><%= user.is_admin %></td>
            <td><%= link_to "Edit", edit_user_path(user), class: "primary_link" %> <%= link_to "Delete", delete_user_path(user), class: "primary_link" %></td>

        </tr>
    <% end %>
</table>


<% flash.each do |type, message| %>
    <div class="flash flash-<%= type %>">
      <%= message %>
    </div>
  <% end %>
