<h1>ADMIN Page</h1>
<%= link_to "Sign Out", destroy_admin_session_path %>
<%= link_to "View Rewards", rewards_path%>
<%= link_to "Activites", activities_path%>


<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Points</th>
        <th>Is Admin</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.points %></td>
            <td><%= user.is_admin %></td>
            <td><%= link_to "Edit", edit_user_path(user) %></td>
            <td><%= link_to "Delete", delete_user_path(user) %></td>
        </tr>
    <% end %>
</table>