<h2 aria-label="Admin Home"> Admin Home </h2>

<h3 aria-label="All Members">All Members</h3>

<table>
    <tr>
        <th aria-label="Member Name">Name</th>
        <th aria-label="Member Email">Email</th>
        <th aria-label="Member Points">Points</th>
        <th aria-label="Is Admin">Is Admin</th>
        <th aria-label="Member Actions">Actions</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.points %></td>
            <td><%= user.is_admin %></td>
            <td><%= link_to "Edit", edit_user_path(user), class: "primary_link" %> <%= link_to "Delete", delete_user_path(user), class: "primary_link" %></td>

        </tr>
    <% end %>
</table>


<% flash.each do |type, message| %>
    <div class="flash flash-<%= type %>">
      <%= message %>
    </div>
  <% end %>
