<%= link_to('Back to all Activities', activities_path, class: 'back-link') %>

<div class="activities edit">
  <h1>Edit Activity</h1>

  <%= form_for(@activity) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit('Save Changes') %>
    </div>
  <% end %>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
