<div class="activities edit">
  <h1 aria-label="Edit Activity">Edit Activity</h1>
  <%= link_to('Back to all Activities', activities_path, class: "primary_link", aria: {label: "Back to all Activities"})%>
  <br> <br>
  <%= form_for(@activity) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons" aria-label="Save Changes Button">
      <%= f.submit('Save Changes') %>
    </div>
  <% end %>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
