
<div class="activities index">
  <h1>Activities</h1>


  <%= link_to("Add New Activity", new_activity_path, class: "primary_link") %>
  <br> <br>

  <!-- search bar & buttons -->
<div>
  <%= label_tag "search", "Search:" %>
  <%= text_field_tag "search", nil, id: "search_bar" %>
</div>
  <table id="activities_table" class="listing" style="width: 100%;">
    <tr class="header">
      <th>Name</th>
      <th>Description</th>
      <th>Default Points</th>
      <th>Actions</th>
    </tr>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.default_points %></td>
        <td class="actions">
          <%= link_to('Show', activity_path(activity), class: "primary_link") %>
          <% if session[:is_admin] %>
            <%= link_to('Edit', edit_activity_path(activity), class: "primary_link") %>
            <%= link_to('Delete', delete_activity_path(activity), class: "primary_link") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>

<script>

// JavaScript for filtering members based on the search bar
const searchInput = document.getElementById("search_bar");
const activityTable = document.getElementById("activities_table");

searchInput.addEventListener("input", () => {
  const searchQuery = searchInput.value.trim().toLowerCase();
  const rows = activityTable.querySelectorAll("tr");

  // Start from the second row (index 1) to skip the header row
  for (let i = 1; i < rows.length; i++) {
    const row = rows[i];
    const activityName = row.querySelector("td:first-child").textContent.trim().toLowerCase();
    const isVisible = activityName.includes(searchQuery);
    row.style.display = isVisible ? "table-row" : "none";
  }
});

</script>
