<div class="activities index">
  <h1>Activities</h1>

  <%= link_to("Go back to landing page", admin_dashboard_url)%>
  <%= link_to("Add New Activity", new_activity_path, class: 'action new') %>

  <table class="listing" style="width: 100%;">
    <tr class="header">
      <th>Name</th>
      <th>Description</th>
      <th>Default Points</th>
      <th>Actions</th>
    </tr>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.default_points %></td>
        <td class="actions">
          <%= link_to('Show', activity_path(activity), class: 'action show') %>
          <% if session[:is_admin] %>
            <%= link_to('Edit', edit_activity_path(activity), class: 'action edit') %>
            <%= link_to('Delete', delete_activity_path(activity), class: 'action delete') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
