<div class="activities show">
  <h1 aria-label="Activity Details">Activity Details</h1>
  <%= link_to('Back to all Activities', activities_path, class: "primary_link", aria: {label: "Back to all Activities"})%>
  <br> <br> <br>
  <% if session[:is_admin] %>
    <div class="actions">
      <%= link_to('Edit', edit_activity_path(@activity), class: "primary_link", aria: {label: "Edit Activity Button"})%>
      <%= link_to('Delete', delete_activity_path(@activity), class: "primary_link", aria: {label: "Delete Activity Button"})%>
    </div>
  <% end %>

  <table>
    <tr>
      <th aria-label="Activity Name">Name</th>
      <td><%= @activity.name %></td>
    </tr>
    <tr>
      <th aria-label="Activity Description">Description</th>
      <td><%= @activity.description %></td>
    </tr>
    <tr>
      <th aria-label="Activity Default Points">Default Points</th>
      <td><%= @activity.default_points %></td>
    </tr>
  </table>
</div>

<% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
<% end %>
