<% content_for :head do %>
  <link rel="stylesheet" href="/assets/application.css.scss">
<% end %>

<div class="navbar">

  <div class="menu-container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Home", admin_dashboard_url, aria: {label: "Admin Home Tab"} %></li>
      <li><%= link_to "Rewards", rewards_path, aria: {label: "Reward Tab"}%></li>
      <li><%= link_to "Activities", activities_path, aria: {label: "Activity Tab"}%></li>
      <li><%= link_to "Assign Points", member_points_url, aria: {label: "Points Tab"}%></li>
      <li><%= link_to "History", history_path, aria: {label: "History Tab"} %></li>
      <li><%= link_to "Notifications", reward_confirmations_path, aria: {label: "Notifications Tab"} %></li>
      <li><%= link_to "Sign Out", destroy_admin_session_path, aria: {label: "Sign Out Button"} %></li>
      <li>
        <div id="google_element"></div>
      </li>
    </ul>
  </nav>


</div>

<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
  function loadGoogleTranslate() {
    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,pt,qu,gn', autoDisplay: false}, "google_element");
  }
</script>

<script>
  function myFunction(x){
    x.classList.toggle("change");
    let menu = document.getElementsByTagName("nav")[0];
    menu.classList.toggle("menu-shown");
  }
</script>
