<% content_for :head do %>
  <link rel="stylesheet" href="/assets/application.css.scss">
<% end %>

<div class="navbar">

  <% if device == "mobile" %>
    <div class="container" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <nav id="vertical-menu" class="hidden">
      <ul>
        <li><%= link_to "Home", admin_dashboard_url, aria: {label: "Admin Home Tab"} %></li>
        <li><%= link_to "Rewards", rewards_path, aria: {label: "Reward Tab"}%></li>
        <li><%= link_to "Activities", activities_path, aria: {label: "Activity Tab"}%></li>
        <li><%= link_to "Assign Points", member_points_url, aria: {label: "Points Tab"}%></li>
        <li><%= link_to "History", history_path, aria: {label: "History Tab"} %></li>
        <li><%= link_to "Sign Out", destroy_admin_session_path, aria: {label: "Sign Out Button"} %></li>
        <li>
          <div id="google_element"></div>
        </li>
      </ul>
    </nav>
  <% end %>
  <% if device == "desktop" %>
    <nav>
      <ul>
        <li><%= link_to "Home", admin_dashboard_url, aria: {label: "Admin Home Tab"} %></li>
        <li><%= link_to "Rewards", rewards_path, aria: {label: "Reward Tab"}%></li>
        <li><%= link_to "Activities", activities_path, aria: {label: "Activity Tab"}%></li>
        <li><%= link_to "Assign Points", member_points_url, aria: {label: "Points Tab"}%></li>
        <li><%= link_to "History", history_path, aria: {label: "History Tab"} %></li>
        <li><%= link_to "Sign Out", destroy_admin_session_path, aria: {label: "Sign Out Button"} %></li>
        <li>
          <div id="google_element"></div>
        </li>
      </ul>
    </nav>
  <% end %>


</div>

<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
  function loadGoogleTranslate() {
    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,pt,qu,gn', autoDisplay: false}, "google_element");
  }
</script>

<script>
  function myFunction(x){
    x.classList.toggle("change");
    var menu = document.getElementById("vertical-menu");
    menu.classList.toggle("hidden");
  }
</script>

<style>

nav {
  background-color: maroon;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: black;
}

#vertical-menu {
  background-color: maroon;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50px;
  left: 10px;
  overflow: auto;
}

#vertical-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#vertical-menu a {
  display: block;
  width: 60px;
  text-decoration: none;
  color: white;
}

#vertical-menu a:hover {
  color: black;
}

.container {
  border-radius: 5px;
  background-color: maroon;
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}


.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}


.change .bar2 {opacity: 0;}


.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

</style>
