<% content_for :head do %>
  <link rel="stylesheet" href="/assets/application.css.scss">
<% end %>

<div class="navbar">

  <div class="menu-container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Home", member_dashboard_url(session[:user_id]), aria: {label: "Home Tab"}%></li>
      <li><%= link_to "View Rewards", memrewards_path_url(session[:user_id]), aria: {label: "Reward Tab"} %></li>
      <li><%= link_to "My Account", user_path(session[:user_id]), aria: {label: "My Account Tab"}%></li>
      <li><%= link_to "View My History", user_history_activity_path(session[:user_id]), aria: {label: "My History Tab"} %></li>
      <li><%= link_to "Sign Out", destroy_admin_session_path, aria: {label: "Sign Out Button"} %></li>
      <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
      <li>
        <div id="google_element"></div>
      </li>
    </ul>
  </nav>


</div>



<script>
  function loadGoogleTranslate() {
    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,pt,qu,gn', autoDisplay: false}, "google_element");
  }
</script>

<script>
  function myFunction(x){
    x.classList.toggle("change");
    let menu = document.getElementsByTagName("nav")[0];
    menu.classList.toggle("menu-shown");
  }
</script>

